<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>重置密码(〜￣△￣)〜</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'index/my-login.css' %}">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					{% if message %}
				      	<div class="alert alert-warning">{{ message }}</div>
				  	{% endif %}

					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">重置密码</h4>
							<form method="POST">
							  {% csrf_token %}

							  	<div class="form-group">
									<label for="rstcode">重置码:</label>
									<input id="rstcode" type="text" class="form-control" name="rstcode" placeholder="Reset code" required autofocus>
								</div>

								<div class="form-group">
									<label for="newpwd">新密码:</label>
									<input id="newpwd" type="password" class="form-control" name="newpwd" placeholder="New Password">
									<div class="form-text text-muted">
										请确保您的密码有足够的强度且容易记住
									</div>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block">
										重置密码
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2018 &mdash; TianC304@FAFU 
					</div>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'index/my-login.js' %}"></script>
</body>
</html>
